@import url("https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
  
body {
  min-height: 450px;
  height: 100vh;
  margin: 0;
  background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
  color: #fff;
  font-family: "Nunito", sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*-------------------- Task List -------------------*/
.todoList {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 500px;
  background: #fff;
}

/** Header  **/
.header-task .cover-inner {
  background-color: cadetblue;
  height: 50px;
  background-size: cover;
  background-position: 10% 20%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.header-task .cover-inner h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  z-index: 10;
  font-weight: 700;
}

/* Main Content */
.content {
  padding: 10px 20px;
}
.content form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0 10px 0 5px;
  border-bottom: 1px solid #8e979c;
}
.content form > * {
  background: transparent;
  border: none;
  height: 35px;
}
.content input[type=text] {
  font-weight: 700;
  font-size: 1.2rem;
  color: #6C717B;
}
.content .input-buttons a {
  text-decoration: none;
}
.content .input-buttons i {
  margin-top: 5px;
  font-size: 20px;
  color: #8e979c;
}
.content ul.todos {
  margin-left: 0;
  padding: 0;
  list-style: none;
  height: 380px;
  overflow: auto;
}
.content li {
  user-select: none;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}

.nameTask{
  color: #6C717B;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
  padding: 2px 5px 2px 10px;
  display: block;
  width: 60%;
}

.buttonTask{
  position: relative;
  display: block;
  text-align: right;
  width: 40%;
}
.completed {
  color: green;
  font-size: 15px;
  cursor: pointer;
  padding: 5px 10px;
}
.uncompleted {
  color: #6C717B;
  font-size: 15px;
  cursor: pointer;
  padding: 5px 10px;
}
.fa-trash-alt {
  color: #ca2424;
  font-size: 15px;
  cursor: pointer;
  padding: 5px 10px;
}

